<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <div class="jumbotron-post jumbotron-fluid" style="background-image: url({{ page.image-url }})">
        <div class="post vertical-center">
          <div class="container-fluid">
            <div class="card post-card-transparent tall-card">
              <div class="card-body">
                <h2 class="font-bolder page-title">{{ page.title }}</h2>
                <p>{{ page.excerpt }}</p>
              </div>
              <div class="card-footer">
                <a href="/" class="btn btn-lg btn-light stretched-link">Return Home</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include footer.html %}
  </body>
</html>
